.mainContent{
    width: 100%;
}

.mainContent--with-navbar {
    padding-top: var(--header-height);
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.7s ease;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.7s ease;
}

@media screen and (min-width: 1150px) {
    .mainContent--with-navbar {
        padding-top: calc(var(--header-height) + 1rem);
    }
}
